kafka-python
minio
poyo
pytest
pytz
requests
pandas
joblib
pytest-spark
confluent-kafka
psycopg2-binary
SQLAlchemy
configparser
Jinja2
Werkzeug
markupsafe
pyspark
boto3
delta-spark
findspark